# K1 MAX
# Printer_size: 300x300x300
# Version: v1.0.2
# CreateDate: 2023/03/21
# Nozzle_mcu: chip: GD32F303CBT6
#             version: CR-K1-MAX-NOZZLE-V1.0.0
# Leveling_mcu: chip: GD32E230F8P6
#             version: CR-K1-MAX-LEVELING-V1.0.0
# mcu: chip: GD32F303RET6
#      version: CR4CU220812S12

#####################===INCLUDES===##############################

[include fluidd.cfg]
[include KNOMI.cfg]
[include Warmup.cfg]
[include sensorless.cfg]
[include gcode_macro.cfg]
[include timelapse.cfg]
[include aux_fan.cfg]
[include KAMP_Settings.cfg]
[exclude_object]
[include K-ShakeTune/*.cfg]
[include shell_command.cfg]
[include v4lctls.cfg]
[include moonraker_obico_macros.cfg]


###################################===MCUs===########################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5200150016504D4D36343020-if00

[mcu nozzle_mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0  
baud: 230400
restart_method: command

[mcu CB2]
serial: /tmp/klipper_host_mcu

[temperature_sensor Manta M5P]
sensor_type: temperature_mcu
min_temp: -270
max_temp: 100

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

#===SAFETY SETTINGS===
[verify_heater extruder]
check_gain_time: 120
heating_gain: 2
hysteresis: 5

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[idle_timeout]
gcode = 
    IDLE_LED
    M104 S0 # turn off hotend
    M140 S0 # turn off bed heater
    M107 P0 # turn off part fan
    M107 P2 # turn off side fan
    M107 P3 # turn off chamber fan
    {action_respond_info("Idle timeout reached. Heaters and fans powered down.")} # Let the user know what is happening
    M84 # unlock steppers
timeout = 1200


[gcode_arcs]
resolution: 0.3 # 0.1


##############################===CARTOGRAPHER===##############################################################

[scanner]                  # uncomment if using cartographer
serial: /dev/serial/by-id/usb-Cartographer_614e_35002C001443565039363120-if00
speed: 40.                      #   Z probing dive speed.
lift_speed: 5.                  #   Z probing lift speed.
backlash_comp: 0.5              #   Backlash compensation distance for removing Z backlash before measuring the sensor response.
x_offset: 0.                    #   X offset of cartographer from the nozzle.
y_offset: 15                    #   Y offset of cartographer from the nozzle.
trigger_distance: 2.            #   cartographer trigger distance for homing.
trigger_dive_threshold: 1.5     #   Threshold for range vs dive mode probing. Beyond `trigger_distance + trigger_dive_threshold` a dive will be used.
trigger_hysteresis: 0.006       #   Hysteresis on trigger threshold for untriggering, as a percentage of the trigger threshold.
cal_nozzle_z: 0.1               #   Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.1                  #   Minimum z bound on sensor response measurement.
cal_ceil:5.                     #   Maximum z bound on sensor response measurement.
cal_speed: 1.0                  #   Speed while measuring response curve.
cal_move_speed: 10.             #   Speed while moving to position for response curve measurement.
default_model_name: default     #   Name of default cartographer model to load.
mesh_main_direction: x          #   Primary travel direction during mesh measurement.
mesh_cluster_size: 1            #   Radius of mesh grid point clusters.
mesh_runs: 2                    #   Number of passes to make during mesh scan.
scanner_touch_threshold: 3400        # This needs tuning
calibration_method: touch 
#z_offset: -0.1
probe_speed: 2.0
touch_location: 150,150         # set to center of bed
sensor: cartographer
sensor_alt: carto               ## allows use of shorter commands
scanner_touch_accel: 100
scanner_touch_max_speed: 10
scanner_touch_speed: 3
scanner_touch_retract_dist: 2
scanner_touch_retract_speed: 10
scanner_touch_sample_count: 3
scanner_touch_tolerance: 0.008
scanner_touch_max_retries: 3
scanner_touch_move_speed: 50
# scanner_touch_z_offset: 0.03 # 0.03 instead of having it in your print start

####################################################################################################################


#===MOTORS===
[stepper_x] #M3
step_pin = PA10
dir_pin = PA14
enable_pin = !PA13
microsteps = 64
rotation_distance = 72
endstop_pin = tmc2240_stepper_x:virtual_endstop
position_endstop = 305
position_min = -5 #was 0.5
position_max = 305 # was 306.5
homing_speed = 120 # was 100
homing_retract_dist = 0

[tmc2240 stepper_x]
cs_pin: PD8
spi_bus: spi2
interpolate = False
run_current = 1.2
diag0_pin = ^!PD2
driver_SGT: 2 # was 32 -64 is most sensitive value, 63 is least sensitive

[stepper_y] #M2
step_pin = PC6
dir_pin = PC7
enable_pin = !PA9
microsteps = 64
rotation_distance = 72
endstop_pin = tmc2240_stepper_y:virtual_endstop
position_endstop = -2
position_min = -2
position_max =285
homing_speed = 120 # was 70
homing_retract_dist = 0

[tmc2240 stepper_y]
cs_pin: PB10
spi_bus: spi2
interpolate = False
run_current = 1.2
diag0_pin = ^!PC3
driver_SGT: 2 # -64 is most sensitive value, 63 is least sensitive

#####################################################################
#Z STEPPERS
#####################################################################

#M1
[stepper_z]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop         # Cartographer virtual probe
homing_retract_dist: 0                       # 0 for Cartographer probe
position_max: 270
position_min: -5
homing_speed: 300                            #was 100

[tmc2240 stepper_z]
cs_pin: PD9
spi_bus: spi2
run_current: 1.2
interpolate: False
# diag0_pin: !PD3 #^PC3
stealthchop_threshold: 0

#########################################################

#M4
[stepper_z1]
step_pin: PB12
dir_pin: PB11
enable_pin: !PA8
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop


[tmc2240 stepper_z1]
cs_pin: PB2
spi_bus: spi2
run_current: 1.2
interpolate: False
# diag0_pin: !PD3 #^PC3
stealthchop_threshold: 0

#########################################################

#M5
[stepper_z2]
step_pin: PB0
dir_pin: PB1
enable_pin: !PC4
microsteps: 16
rotation_distance: 8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop


[tmc2240 stepper_z2]
cs_pin: PA6
spi_bus: spi2
run_current: 1.2
interpolate: False
# diag0_pin: !PD3 #^PC3
stealthchop_threshold: 0

[z_tilt]
z_positions:            # point where the bed tilts on the joints - estimate
    -50, 18             # stepper_z tilt location (front left)
    150, 332            # stepper_z1 tilt location (rear center)
    350, 18             # stepper_z2 tilt location (front right)
points:
    30, 25              # stepper_z probe location on the bed (front right)
    150, 265            # stepper_z1 probe location on the bed (rear)
    270, 25             # stepper_z2 probe location on the bed (front right)
speed: 100              #was 100
horizontal_move_z: 5
retries: 15
retry_tolerance: 0.0075 #was 0.0075

#####################################################################################################

[tmc2209 extruder]
uart_pin: nozzle_mcu:PB11
tx_pin: nozzle_mcu:PB10
uart_address: 3
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0
# driver_IHOLDDELAY: 
# driver_TPOWERDOWN: 20
# driver_TBL: 2
# driver_TOFF: 3
# driver_HEND: 0
# driver_HSTRT: 5

##########################   HEATERS  ###############################

[extruder] #CYCLOPSE#
max_extrude_only_velocity: 50 # Set this to your desired maximum speed in mm/s
max_extrude_only_distance: 101.0
max_extrude_cross_section: 80
step_pin: nozzle_mcu:PB1
dir_pin: !nozzle_mcu:PB0
enable_pin: !nozzle_mcu:PB2
microsteps: 32
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu:PB7
#############PT1000 HOTEND################
#MAX TEMPERATURE 350
sensor_type: PT1000
sensor_pin: nozzle_mcu:PA0
#   Analog input pin connected to the sensor. This parameter must be
#   provided.
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the sensor. The
#   default is 4700 ohms.
###################################################
pressure_advance: 0.035
pressure_advance_smooth_time: 0.04
min_extrude_temp: 0
#control: pid
#pid_Kp: 25.013
#pid_Ki: 2.566
#pid_Kd: 60.966
min_temp: -265
max_temp: 353

[heater_bed]
heater_pin: PC14
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: watermark
#control: pid
#pid_kp: 27
#pid_ki: 0.08
#pid_kd: 0
min_temp: 0
max_temp: 127

################################ FANS  ############################

[duplicate_pin_override]
pins: PA4, PA3, PA1, nozzle_mcu: PB8

[multi_pin heater_fans]
pins:nozzle_mcu:PB5#PB2

[heater_fan hotend_fan]
pin: multi_pin:heater_fans
heater: extruder
heater_temp: 40

[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: -170
max_temp: 270


[static_digital_output my_fan_output_pins]
pins: nozzle_mcu: PB6

[fan]
#nozzle fan             
pin: !nozzle_mcu: PB8
kick_start_time: 0.5
off_below: 0.05
# [fan_generic Part_Fan] 
# pin: !nozzle_mcu: PB8
# # tachometer_pin: ^Nozzle_MCU: PB3
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.300
# cycle_time: 0.010
# hardware_pwm: False

[temperature_fan Chamber_Fan]
pin: PA3
cycle_time: 0.0100
hardware_pwm: false
max_power: 1
shutdown_speed: 0
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 25.0
max_speed: 1.0
min_speed: 0.0


[temperature_sensor CB2] # BTT CB2
sensor_type: temperature_host
min_temp: 0
max_temp: 80

#===BED MESH=== 
[bed_mesh]              # K1 MAX
zero_reference_position: 150, 150 # set to touch location
speed: 500              # max of 150 or cartographer will stutter / timeout
mesh_min: 20,20         # x / y offsets for cartographer.
mesh_max: 285,290       # add a little space from the back of the bed to prevent scanning screws or crashing into the motor mounts
probe_count: 40,40      # tested up to 150x150 points, any higher will timeout the mcu after meshing.
algorithm: bicubic      # required for above 5x5 meshing
bicubic_tension: 0.2

#===PRINTER SETTINGS===
[adxl345]
cs_pin = nozzle_mcu:PA4
spi_speed = 5000000
axes_map = x,-z,y
spi_software_sclk_pin = nozzle_mcu:PA5
spi_software_mosi_pin = nozzle_mcu:PA7
spi_software_miso_pin = nozzle_mcu:PA6

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 75
probe_points:
   150,150,10

[input_shaper]
shaper_freq_x: 41.8 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 41.2 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.053 # damping ratio for the X axis
damping_ratio_y: 0.035 # damping ratio for the Y axis

[display_status]

[filament_motion_sensor Encoder_Sensor]
switch_pin: PC2
detection_length: 5
extruder: extruder
pause_on_runout: true
insert_gcode:
    M117 Insert Detected
runout_gcode:
    M117 Runout Detected
    ERROR_LED  # Turn Led red

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000
minimum_cruise_ratio: 0.1
max_z_velocity: 15
square_corner_velocity: 5.0
max_z_accel: 300

[pause_resume]

# [axis_twist_compensation]
# speed: 300
# horizontal_move_z: 5
# calibrate_start_x: 20
# calibrate_end_x: 200
# calibrate_y: 112.5

[firmware_retraction]
retract_length: 0.8
retract_speed: 50
# unretract_extra_length: 0
unretract_speed: 20

[shaketune]
 result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
 number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
 keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
 show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
 timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 40.261
#*# pid_ki = 17.894
#*# pid_kd = 22.647
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 50.907
#*# pid_ki = 3.295
#*# pid_kd = 196.628
#*#
#*# [scanner model default]
#*# model_coef = 1.4975192218970246,
#*# 	1.7885774746661964,
#*# 	0.9445743138950803,
#*# 	0.10694702989105571,
#*# 	-0.7203149936983241,
#*# 	1.7573621617744106,
#*# 	1.8605469149995333,
#*# 	-3.0987266971647722,
#*# 	-1.0236770145486547,
#*# 	1.8896606987586992
#*# model_domain = 3.2022628228684566e-07,3.3253039247575016e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 34.700916
#*# model_offset = 0.00000
#*#
#*# [scanner]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.022842, -0.018378, -0.013391, -0.004933, -0.007941, -0.005058
#*# 	  -0.025332, -0.023115, -0.016306, -0.015284, -0.014046, -0.011063
#*# 	  -0.029435, -0.027557, -0.020256, -0.013996, -0.011183, -0.011342
#*# 	  -0.027386, -0.023061, -0.021120, -0.018098, -0.009300, -0.012587
#*# 	  -0.021383, -0.017815, -0.019015, -0.007975, -0.012086, -0.013769
#*# 	  -0.012244, -0.009244, -0.015022, -0.004991, -0.010405, -0.013875
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 132.5
#*# max_x = 162.5
#*# min_y = 114.501
#*# max_y = 144.501
